# Ignore everything by default
**

# But NOT these directories (negate the ignore for them)
!results_multistage_5_coilgun_config/
!results_test_config/
!visualizations_results_multistage_5_coilgun_config/
!visualizations_test_config/

# Also, do not ignore files in the root directory
!/*

/.venv
__pycache__/
*.py[cod]
*$py.class
.DS_Store
**/.DS_Store